html, body{

    width: 100%;
    box-sizing: border-box;
    background-color: #111;
}

#pop-up{

    position: relative;
    top: 200px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid white;
    background-color: dimgray;
}

